# Backend environment variables
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"
JWT_SECRET=@a36B74fe?
GOOGLE_CLIENT_ID=your-google-client-id.apps.googleusercontent.com
EMAIL_USER=assidjo1@gmail.com
EMAIL_PASS=Tsarnoir2002
FRONTEND_URL=http://localhost:5173
SMS_API_KEY=your-sms-api-key
SMS_SENDER_ID=AIFUS